@keyframes slide {
  from {
    transform: translateX(200rem);
  }

  to {
    transform: translateX(0);
  }
}

html {
  background: #1d976c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app {
  opacity: 0;
  transition: all 1s;
}

.showApp {
  opacity: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  font-size: 4rem;
}

.dealer,
.player {
  display: flex;
  gap: 2rem;
}

.content.slide {
  animation: slide 1s;
}

.score {
  align-self: center;
  min-width: 20rem;
}

.conclusion {
  min-height: 6rem;
}

.options {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}

button {
  font-family: inherit;
  letter-spacing: 2px;
  font-size: 3.2rem;
  background-color: #222;
  color: #eee;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.3);
}

button:active {
  translate: 0 5px;
  box-shadow: none;
}

.options :first-child {
  background-color: #ed2939;
}

.options :last-child {
  background-color: #215b4c;
}
